# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.6.2/charts/other/app-template/values.schema.json

# you can add any value from the helm library chart you want to override
# https://github.com/bjw-s-labs/helm-charts/blob/main/charts/library/common/values.yaml
# do with caution


global:
  nodeSelector:
    kubernetes.io/hostname: "nodename"

arkClusterHelm:

  ##
  # Storage
  ##

  # will create 2 PVCs for ark A and ark B installation
  serverStorage:
    enabled: true
    storageClass: node3-local # define storage class here
    accessMode: ReadWriteOnce
    size: 50Gi
    retain: false
  # will create a single PVC for cluster shared storage
  clusterStorage:
    enabled: true
    storageClass: node3-local # define storage class here
    accessMode: ReadWriteOnce
    size: 10Gi
    retain: false


  ##
  # Configmaps / Secrets
  ##

  configMaps:
    
  secrets:
    


